@model EntityLayer.Dto.DriverLoginDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/gif/png" href="~/Templates/urotaxi-html/images/title-logo.png">
    <title>Register UROTAXI</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Templates/Login&Register/css/style.css">
</head>
<body>

    <div class="main" style="padding:50px 0">
        <div class="container">
            <div class="booking-content">
                <div style="text-align: center;" class="booking-image">
                    <img class="booking-img" src="~/Templates/Login&Register/images/taxi2.png" alt="UROTAXI Image">
                </div>
                <div class="booking-form">
                    <form id="booking-form" action="/Register/DriverRegister" method="post">
                        <h2><span style="padding: 0px 10px" class="fas fa-taxi"></span>Register as a Driver</h2>
                        <div class="form-group form-input">
                            <input type="text" name="Name" id="name" required />
                            <label for="name" class="form-label">Your name</label>
                            @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="SurName" id="surname" required />
                            <label for="surname" class="form-label">Your SurName</label>
                            @Html.ValidationMessageFor(x => x.SurName, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="email" name="Email" id="email" required />
                            <label for="email" class="form-label">Your Email</label>
                            @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="number" name="Phone" id="phone" required />
                            <label for="phone" class="form-label">Your phone number</label>
                            @Html.ValidationMessageFor(x => x.Phone, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="Profession" id="profession" required />
                            <label for="profession" class="form-label">Your Profession</label>
                            @Html.ValidationMessageFor(x => x.Profession, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="Password1" id="password1" required />
                            <label for="password1" class="form-label">Password</label>
                            @Html.ValidationMessageFor(x => x.Password1, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="Password2" id="password2" required />
                            <label for="password2" class="form-label">Repeat Password</label>
                            @Html.ValidationMessageFor(x => x.Password2, "", new { @style = "color:red" })
                        </div>
                        <div class="form-radio">
                            <label class="label-radio">Your Gender</label>
                            <div class="radio-item-list">
                                <span>
                                    <input type="radio" name="Sex" value="Male" id="male" />
                                    <label for="male"><i class="bi bi-gender-male"></i></label>
                                </span>
                                <span>
                                    <input type="radio" name="Sex" value="Female" id="female" />
                                    <label for="female"><i class="bi bi-gender-female"></i></label>
                                </span>
                                @Html.ValidationMessageFor(x => x.Sex, "", new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Register now" class="submit" id="submit" name="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/Templates/Login&Register/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/Login&Register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
