@using EntityLayer.Concrete
@model PagedList.IPagedList<Client>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Clients", "AdmDashboard", FormMethod.Post))
{
    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" name="p" placeholder="Search by Name" />
    </div>
}

<div style="margin-top:2rem">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>Clients List</h3>
                <a href="/AdmDashboard/Clients" class="buttons">See All <span class="las la-arrow-right"></span></a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table style="width: 100%;" id="CustomerGrid">
                        <thead>
                            <tr>
                                <td width="15%">Image</td>
                                <td width="16%">Name</td>
                                <td width="17%">SurName</td>
                                <td width="27%">Email</td>
                                <td width="10%">Status</td>
                                <td width="15%">Operations</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.ClientImage" alt="Client Profile Photo" class="ppimg">
                                    </td>
                                    <td>
                                        @item.ClientName
                                    </td>
                                    <td>
                                        @item.ClientSurName
                                    </td>
                                    <td>
                                        @item.ClientMail
                                    </td>
                                    <td>
                                        @if (@item.ClientStatus == false)
                                        {
                                            <span class="status red"></span>@item.ClientStatus
                                        }
                                        else
                                        {
                                            <span class="status green"></span>@item.ClientStatus
                                        }
                                    </td>
                                    <td class="customer">
                                        <div class="contact" style="margin-top:26px">
                                            <a href="/AdmClient/AdmEditClient/@item.ClientID"><span class="fas fa-user-edit" style="padding-right:10px"></span></a>
                                            <a href="/AdmClient/DeleteClient/@item.ClientID"><span class="fas fa-trash" style="color:red;padding-right:10px"></span></a>
                                            <a href="/AdmDashboard/GetClientDetails/@item.ClientID"><span class="fas fa-eye" style="color:gray"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Clients", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
