@model EntityLayer.Concrete.Order 

@{
    ViewBag.Title = "AdmEditOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:1rem">
    <div class="projects">
        <div class="card">
            <div style="text-align:center">
                <h1>Editing Order #@Html.DisplayFor(x => x.OrderID)</h1>
            </div>
            <div>
                <form action="/AdmOrder/AdmEditOrder" method="post">
                    @Html.HiddenFor(x => x.OrderID)
                    @Html.HiddenFor(x => x.DriverID)
                    @Html.HiddenFor(x => x.ClientID)
                    @Html.HiddenFor(x => x.OrderDate)
                    @Html.HiddenFor(x => x.OrderStatus)
                    <div class="edit-form-admin ">
                        <label for="pickup">PickUp Location</label>
                        @Html.DropDownListFor(x => x.CarTypeID, (List<SelectListItem>)ViewBag.vlct, new { @class = "edit-form-admin-inputs" })
                    </div>
                    <div class="edit-form-admin ">
                        <label for="pickup">PickUp Location</label>
                        @Html.TextBoxFor(x => x.PickUpLocation, new { @id = "pickup", required = "required" })
                    </div>
                    <div class="edit-form-admin ">
                        <label for="drop">Drop Location</label>
                        @Html.TextBoxFor(x => x.DropLocation, new { @id = "drop", required = "required" })
                    </div>
                    <div class="edit-form-admin ">
                        <label for="datetime">PickUp Time</label>
                        <input type="datetime-local" id="datetime" name="PickUpTime" value="@Model.PickUpTime.ToString("s")" />
                    </div>
                    <div class="edit-form-submit">
                        <button>Update</button>
                        <a class="">Activate</a>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>