@model EntityLayer.ViewModels.AdmChangePasswordViewModel

@{
    ViewBag.Title = "AdmChangePasswordClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:1rem">
    <div class="projects">
        <div class="card">
            <div style="text-align:center">
                <h1>Changing Client Password</h1>
            </div> <br />
            <hr />
            <br />
            <div>
                <form action="/AdmClient/AdmChangePasswordClient" method="post">
                    <input type="hidden" name="id" value="@TempData["id"]" />
                    <div class="edit-form-admin ">
                        <label for="p1">New Password</label>
                        @Html.TextBoxFor(x => x.password1, new { @id = "p1", type = "password" })
                        <p>@Html.ValidationMessageFor(x => x.password1, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="p2">New Password Again</label>
                        @Html.TextBoxFor(x => x.password2, new { @id = "p2", type = "password" })
                        <p>@Html.ValidationMessageFor(x => x.password2, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-submit">
                        <button>Change Password</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>

