@using EntityLayer.Concrete
@model Client

@{
    ViewBag.Title = "AdmEditClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:1rem">
    <div class="projects">
        <div class="card">
            <div style="text-align:center">
                <h1>Editing #@Html.DisplayFor(x => x.ClientID) @Html.DisplayFor(x => x.ClientName) @Html.DisplayFor(x => x.ClientSurName)</h1>
            </div>
            <div class="div-img">
                @if (string.IsNullOrEmpty(Model.ClientImage))
                {
                    <img src="https://liveinsiberia.ru/upload/iblock/d96/14d1689b.png" alt="Driver Image" />
                }
                else
                {
                    <img src="@Model.ClientImage" alt="Driver Image" />
                }
            </div>
            <hr />
            <div>
                <form action="/AdmClient/AdmEditClient" method="post" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.ClientID)
                    @Html.HiddenFor(x => x.ClientStatus)
                    @Html.HiddenFor(x => x.ClientPasswordHash)
                    @Html.HiddenFor(x => x.ClientPasswordSalt)
                    @Html.HiddenFor(x => x.ClientImage)
                    <div class="edit-form-admin ">
                        <label for="name">Name</label>
                        @Html.TextBoxFor(x => x.ClientName, new { @id = "name" })
                        <p>@Html.ValidationMessageFor(x => x.ClientName, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="surname">SurName</label>
                        @Html.TextBoxFor(x => x.ClientSurName, new { @id = "surname" })
                        <p>@Html.ValidationMessageFor(x => x.ClientSurName, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="email">Email</label>
                        @Html.TextBoxFor(x => x.ClientMail, new { @id = "email" })
                        <p>@Html.ValidationMessageFor(x => x.ClientMail, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="phone">Phone Number</label>
                        @Html.TextBoxFor(x => x.ClientNumber, new { @id = "phone" })
                        <p>@Html.ValidationMessageFor(x => x.ClientNumber, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="profession">Profession</label>
                        @Html.TextBoxFor(x => x.ClientProfession, new { @id = "profession" })
                        <p>@Html.ValidationMessageFor(x => x.ClientProfession, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="img">Image</label>
                        <input type="file" name="ClientImage" id="img" />
                        <p>@Html.ValidationMessageFor(x => x.ClientImage, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-admin ">
                        <label for="about">About</label>
                        @Html.TextAreaFor(x => x.ClientAbout, new { @class = "richtextbox", id = "about" })
                        <p>@Html.ValidationMessageFor(x => x.ClientAbout, "", new { @style = "color:red" })</p>
                    </div>
                    <div class="edit-form-radio">
                        <h3>Gender : </h3>
                        <label><i class="fas fa-male"></i>  Male</label>
                        @Html.RadioButtonFor(x => x.Sex, value: "Male")
                        <label><i class="fas fa-female"></i>  Female</label>
                        @Html.RadioButtonFor(x => x.Sex, value: "Female")
                    </div>
                    <p>@Html.ValidationMessageFor(x => x.Sex, "", new { @style = "color:red" })</p>
                    <div class="edit-form-submit">
                        <a class="btn-changepassword" href="/AdmClient/AdmChangePasswordClient/@Model.ClientID">Change Password</a>
                        <a class="btn-active" href="/AdmClient/ActivateClient/@Model.ClientID">Activate</a>
                        <button>Update</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>